{{#partial "content"}}
   <h1>{{department.name}}</h1>
   <p>Here are all the sections listed in this department:</p>
   <ol>

       {{#each sections}}
           <li>
               <p><a href="/categories/{{department.id}}/sections/{{id}}">{{sectionName }}</a></p>
           </li>
       {{/each}}
   </ol>
   <a class="btn btn-warning btn-sm" href="/categories/{{department.id}}/edit">edit Department</a>
   <a class="btn btn-warning btn-sm" href="/categories/{{department.id}}/delete">delete Department</a>
{{/partial}}

{{> layout.hbs}}