{{#partial "content"}}
   <p>Department: {{ department.name }}</p>
   <p>Section: {{ section.description }}</p>

       <div class="panel">
       <div class="panel-heading">
       List of Employess
       </div>
           <table class="table">
               <thead>
               <tr>
                   <th scope="col">#</th>
                   <th scope="col">Employee name</th>
                   <th scope="col">Employee number</th>
                   <th scope="col">Designation</th>
               </tr>
               </thead>

   {{#if employees}}
       {{#each employees }}
       <div class="panel-body">
           <tbody>
           <tr>
               <th scope="row">1</th>
               <td>{{employeeName}}</td>
               <td>{{ekNo}}</td>
               <td>{{designation}}</td>
           </tr>
           </tbody>
       </div>
       {{/each}}
   </table>
   {{else}}
   <div class="panel-body">
       <p>No employees</p>
   </div>
   {{/if}}

           <div class="panel-footer">
   <p>

       <a class="btn btn-warning btn-sm"href="/sections/{{section.id}}/edit">edit</a>
       <a class="btn btn-warning btn-sm" href="/categories/{{section.categoryId}}/sections/{{section.id}}/delete">delete</a>
   </p>
       </div>
   </div>
{{/partial}}

{{> layout.hbs}}