{{#partial "content"}}
   <p>Department: {{ category.name }}</p>
   <p>Section: {{ task.description }}</p>
   <h5>
       List of Employess:

   {{#if employees}}
       {{#each employees }}
           <p>{{employeeName}} {{ekNo}}   {{designation}}</p>
       {{/each}}
   {{else}}
       <p>No employees</p>
   {{/if}}

   </h5>
   <p>
       <a class="btn btn-warning btn-sm"href="/tasks/{{task.id}}/edit">edit</a>
       <a class="btn btn-warning btn-sm" href="/categories/{{task.categoryId}}/tasks/{{task.id}}/delete">delete</a>
   </p>

{{/partial}}

{{> layout.hbs}}